.App {
  text-align: center;
  background: linear-gradient(274deg, rgba(12,34,46,1) 14%, rgba(8,28,26,1) 30%, rgba(0,0,0,1) 58%);
  width: 100%;
  height: 100vh;
  position: absolute;

}
.lableCss{
  margin-left: 50px;
  margin-right: 5px;
}
.formHeader{
  min-height: 59%;
}
.body {
  margin: 0;
}
.left {
  width: 77%;
  background: teal;
  height: 2000px;
}
.right {
  width: 23%;
  background:rgb(34, 48, 75);
  border: 2px gold;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.form{
  border: 1px solid blanchedalmond;
  height: 30%;
  background-color: rgb(34, 48, 75);
  width: 50%;
  padding: auto;
  margin-top:auto;

}
.header{
  min-height:10%;
  flex-direction: row;
  background-color:rgb(34, 48, 75);
  border:1px solid gold;
  align-items: center;
  display: flex;
  align-items: center; 
  position: fixed;
  z-index: 1;
  width:100%;
}

.label{
  color:pink;
  font-size: 14px;
 
}

.users{
  background-color:black;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
